body, html {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
        background-color: #e4d6a7;
}

a {
    text-decoration: none;
    color: inherit;           
}

header{
    font-size: 18px;
    color: #77BB7B;
    text-align: center;
    background-color: #E4D6A7;
}

    header h3{
        padding: 1vh;
    }

    .header-menu-superior{
        display: flex;
        padding:1vh;
        background-color: #C4825A;
        font-size: small;
    }

    .header-menu-superior div{
            color: #0A0A0A;
            text-align: center;
            flex:1;  
    }

    .header-menu-superior div a:hover{
        color: #ffffff;
    }


    .header-menu-navegacao{
        color: #ffffff;
        display: flex;
        background-color: #77BB7B;
        font-size: 18px;
    }

    .header-menu-navegacao div{
        padding: 1vh;
        flex:content;
    }

    .header-menu-navegacao div:hover{
        background-color: #ffffff36;
    }

/* Carrossel */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    /* background-color: #c4825a; */
    max-width: 1200px;
    position: relative;
    margin: auto;
    margin-top: 5vh;    
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

    /* Esconde as imagens */
    .mySlides {
        display: none;
        border-radius: 8px;
        background-color: #c4825a;
    }

    .mySlides img{
        border-radius: 8px;
    }

    /* Botoes prev e nex */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: #c4835a;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    /* Posicao do "next button" a direita */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }    

    /* Texto sobre */
    .text {
        background-color: #c4825a;
        color: #ffffff;
        font-size: 16px;
        padding: 8px 12px;
        position: absolute;
        bottom: 0px;
        width: 100%;
        text-align: center;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .text h3{        
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .text p{
        text-align: justify;
    }
   

    /* Indicador de slide */
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        margin-bottom: 5vh;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
        background-color: #717171;
    }

    /* Animacao de transicao */
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }
  
    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }

/* Container principal da página de produtos */
.Pagina-Home-Produtos {
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    background-color: #e4d6a7;
}

/* Seção de texto lateral */
.Texto-Pag-Home-Produtos {
        width: 20%;
        background-color: #e4d6a7;
        padding: 20px;
        color: #0a0a0a;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: center;
}

.Texto-Pag-Home-Produtos h1, .Texto-Pag-Home-Produtos h2 {
    margin-bottom: 10px;
}

.VerProdutos-Botao {
    background-color: #77bb7b;
    border: none;
    padding: 10px 20px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

/* Seção de produtos */
.Produtos-Pag-Home-Produtos {
    margin-left: 5vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

/* Estilo individual para cada produto */
.Produto-Home {
    background-color: #c4825a;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #ffffff;
}

/* Nome do produto */
.Nome-Produto-Pag-Home-Produtos h5 {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 10px;
}

/* Imagem do produto */
.Foto-Produto-Pag-Home-Produtos img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 10px;
}

/* Descrição do produto */
.Descrição-Produto-Pag-Home-Produtos p {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Botão de adicionar ao carrinho */
.AddToCart-Produto-Pag-Home {
    background-color: #77bb7b;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: #0a0a0a;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.AddToCart-Produto-Pag-Home:hover {
    background-color: #0a0a0a;
    color: #ffffff;
}

/* Responsividade para telas menores */
@media screen and (max-width: 768px) {
    .Pagina-Home-Produtos {
        flex-direction: column;
    }

    .Texto-Pag-Home-Produtos {
        width: 100%;
        margin-bottom: 20px;
    }

    .Produtos-Pag-Home-Produtos {
        width: 100%;
        grid-template-columns: 1fr;
    }
}

/* Estilo do botão flutuante */
.scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #3cbe45;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    opacity: 0.9;
    transition: opacity 0.3s;
}

.scroll-to-top:hover {
    opacity: 1;
}


/* Footer */
footer {
    background-color: #0A0A0A;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
}

footer p{
    margin: 0;
}