body, html {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
        background-color: #ffffff;
}

a {
    text-decoration: none;
    color: inherit;
           
}

header{
    font-size: 18px;
    color: #77BB7B;
    text-align: center;
    background-color: #E4D6A7;
}

header h3{
    padding: 1vh;
}


.header-menu-superior{
    display: flex;
    padding:1vh;
    background-color: #C4825A;
    font-size: small;
}

.header-menu-superior div{
        color: #0A0A0A;
        text-align: center;
        flex:1;  
}

.header-menu-superior div a:hover{
    color: #ffffff;
}


.header-menu-navegacao{
    color: #ffffff;
    display: flex;
    background-color: #77BB7B;
    font-size: smaller;
}

.header-menu-navegacao div{
    padding: 1vh;
    flex:content;
}

.header-menu-navegacao div:hover{
    background-color: #ffffff36;
}

/* Carrossel */
input[type="radio"] {
    display: none;
}

.container-carrossel {
    display: flex;
    margin-top: 5vh;
    margin-bottom: 5vh;

    overflow-x: scroll; 
    scroll-behavior: smooth; 
    scroll-snap-type: x mandatory; 
    gap: 2em; 
    padding: 1em;
}

.container-carrossel-item {    
    background-color:#c4825a;
    display: flex;
    flex: 0 0 100%;
    padding: 1em;
    margin-right: 1vh;
    scroll-snap-align: start;     
}

.container-carrossel-item-texto {
    /* background-color:#C4825A; */
    color: #FFFFFF;
    flex: 1; 
    padding: 1em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content:first baseline; 
    height: fit-content;
}

.carousel-item-texto h2 {
    color: #C4825A;
    font-size: 2em;
}

.carousel-item-texto p {
    color: #E4D6A7;
    line-height: 1.6;
    font-size: 1.1em;
}

.container-carrossel-item-img {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item-img img {
    width: 90%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Container principal da página de produtos */
.Pagina-Home-Produtos {
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    background-color: #e4d6a7;
}

/* Seção de texto lateral */
.Texto-Pag-Home-Produtos {
        width: 20%;
        background-color: #e4d6a7;
        padding: 20px;
        color: #0a0a0a;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: center;
}

.Texto-Pag-Home-Produtos h1, .Texto-Pag-Home-Produtos h2 {
    margin-bottom: 10px;
}

.VerProdutos-Botao {
    background-color: #77bb7b;
    border: none;
    padding: 10px 20px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

/* Seção de produtos */
.Produtos-Pag-Home-Produtos {
    margin-left: 5vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

/* Estilo individual para cada produto */
.Produto-Home {
    background-color: #c4825a;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #ffffff;
}

/* Nome do produto */
.Nome-Produto-Pag-Home-Produtos h5 {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 10px;
}

/* Imagem do produto */
.Foto-Produto-Pag-Home-Produtos img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 10px;
}

/* Descrição do produto */
.Descrição-Produto-Pag-Home-Produtos p {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Botão de adicionar ao carrinho */
.AddToCart-Produto-Pag-Home {
    background-color: #77bb7b;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: #0a0a0a;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.AddToCart-Produto-Pag-Home:hover {
    background-color: #0a0a0a;
    color: #ffffff;
}

/* Responsividade para telas menores */
@media screen and (max-width: 768px) {
    .Pagina-Home-Produtos {
        flex-direction: column;
    }

    .Texto-Pag-Home-Produtos {
        width: 100%;
        margin-bottom: 20px;
    }

    .Produtos-Pag-Home-Produtos {
        width: 100%;
        grid-template-columns: 1fr;
    }
}

/* Estilo do botão flutuante */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #77BB7B;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    opacity: 0.8;
    transition: opacity 0.3s;
}

.scroll-to-top:hover {
    opacity: 1;
}


/* Footer */
footer {
    background-color: #0A0A0A;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
}

footer p{
    margin: 0;
}