body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: inherit;           
}

header{
    font-size: 18px;
    color: #77BB7B;
    text-align: center;
    background-color: #E4D6A7;
}

header h3{
    padding: 1vh;
}


.header-menu-superior{
    display: flex;
    padding:1vh;
    background-color: #C4825A;
    font-size: small;
}

.header-menu-superior div{
        color: #0A0A0A;
        text-align: center;
        flex:1;  
}

.header-menu-superior div a:hover{
    color: #ffffff;
}


.header-menu-navegacao{
    color: #ffffff;
    display: flex;
    background-color: #77BB7B;
    font-size: 18px;
}

.header-menu-navegacao div{
    padding: 1vh;
    flex:content;
}

.header-menu-navegacao div:hover{
    background-color: #ffffff36;
}

main{
    margin-top: 5vh;
}

section {
    background-color: #77bb7b;
    color: black;
    padding: 20px 0;
}

.informacoes {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    border-bottom: 2px solid #ffffff;
}

.coluna {
    width: 20%;
}

h4 {
    margin-bottom: 5px;
}

ul {
    list-style: none;
}

ul li {
    margin-bottom: 5px;
}

ul li a {
    color: black;
    text-decoration: none;
    font-size: 15px;
}

ul li a:hover {
    text-decoration: underline;
}

.newsletter-input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

.newsletter-btn {
    background-color: #00C2FF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.newsletter-btn:hover {
    background-color: #008FCC;
}

.secao-pagamento {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 20px 0;
}

.secao-pagamento img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.informacao-contato {
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
}

.secao-social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.secao-social a img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.span-required {
    font-size: small;
    color: red;
    display: none;
}

hr {
    border: none;
    height: 2px; 
    background-color: black;
    margin: 20px 0;
}

footer {
    text-align: center;
    margin-top: 10px;
}