* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;           
}


header{    
    color: #77BB7B;
    text-align: center;
    background-color: #E4D6A7;
}

header h3{    
    padding: 3vh;
}

.header-menu-superior{
    display: flex;
    padding:1vh;
    background-color: #C4825A;
    font-size: small;
}

.header-menu-superior div{
    color: #0A0A0A;
    text-align: center;
    flex:1;  
}

.header-menu-superior div a:hover{
    color: #ffffff;
}

.header-menu-navegacao{
    font-size: 18px;
    color: #ffffff;
    display: flex;
    background-color: #77BB7B;
    font-size: smaller;
}

.header-menu-navegacao div{
    padding: 1vh;
    flex:content;
}

.header-menu-navegacao div:hover{
    background-color: #ffffff36;
}


.logo h1 {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(197, 159, 159);
}


.secao-principal-1 {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: #ffffff;
    text-align: justify;
}

.titulo {
    text-align: left;
    margin-top: 5vh;
    padding: 1vh;
    font-size: 18px;
    background-color: #e4d6a7;
}

.texto {
    max-width: 50%;
}

.texto h2 {
    font-size: 48px;
    font-weight: bold;
    text-align: left;
    color: #c4825a;
}

.texto p {
    font-size: 18px;
    line-height: 1.5;
}

.imagem img {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    object-fit: cover;
}

#divisao {
    text-align: right;
    background-color: #ffffff;
    color: #c4825a;
    height: 2px;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 0;
}

/* hr {
    border: none;
    height: 2px;
    background-color: black;
    width: 80%;
    align-items: right;
} */

.benefits-section {
    background-color: #c4825a;
    color: black;
    padding: 20px;
    text-align: center;
}

.benefits-section ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.benefits-section ul li {
    font-size: 18px;
}

footer {
    text-align: center;
    margin-top: 10px;
}